html, body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

#canvas {
    background-color: lightblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
